@import "components/search"
@import "components/screen"

body
  margin: 0
  padding: 0
  background: #000
  font-family: sans-serif

.dg.ac 
  z-index: 99999 !important

body > canvas
	top: 0
	left: 0
	position: fixed
	z-index: 99999 !important
	&:last-child
		left: 250