@import "core/fonts"
@import "core/variables"
@import "core/reset"
@import "core/scaffold"


@import "components/screen"
@import "components/intro"
@import "components/title"
@import "components/btn"
@import "components/compass"


.dg.ac
  z-index: 99999 !important
  *
    color: white


#debug-floor
  position: fixed
  top: 0
  left: 0
  z-index: 999
  width: 100%
  height: 100%
  opacity: 0.1
  pointer-events: none
